<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/styles.css" rel="stylesheet" />
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  </head>
  <body>
    <header>
      <div>
        <img
          src="/images/logo-mercado-liebre.svg"
          alt="logo mercado liebre"
          width="360"
        />
      </div>
      <div class="search-bar">
        <i class="fas fa-search"></i>
        <input type="text" placeholder="Buscar productos, marcas"></input>
      </div>
      <p>Comprá en cuotas y sin tarjeta de crédito</p>
      <nav>
        <ol>
          <ul>
            Ofertas
          </ul>
          <ul>
            Tiendas Oficiales
          </ul>
          <ul>
            Vender
          </ul>
          <ul>
            Ayuda
          </ul>
        </ol>
        <ol>
          <ul>
         Crear Cuenta
         </ul>
          <ul>
            Ingreso
          </ul>
          <ul>
            Cuenta
          </ul>
        </ol>
        <div class="burger-menu-container">
          <div class="burger-menu">
            <i class="fas fa-bars"></i>
          </div>
        </div>
        
        <div>
          <img
            src="/images/img-home-banner.jpg"
            alt="logo mercado liebre"
            width="100%"
          />
        </div>
      </nav>
    </header>
    <main>
      <div class="section-title">Basado en tu última visita</div>
      <div class="product">
        <img
          src="/images/img-macbook-pro-2019.jpg"
          alt="logo mercado liebre"
          width="360"
        />
        <div class="product-price">$230</div>
        <div class="product-percentage">20% off</div>
        <div class="product-description">MacBook Pro 2019</div>
      </div>
      <div class="product">
        <img
          src="/images/img-cafetera-moulinex.jpg"
          alt="logo mercado liebre"
          width="360"
        />
        <div class="product-price">$670</div>
        <div class="product-percentage">40% off</div>
        <div class="product-description">Cafetera Moulinex</div>
      </div>
      <div class="product">
        <img
          src="/images/img-tv-samsung-smart.jpg"
          alt="logo mercado liebre"
          width="360"
        />
                <div class="product-price">$23.200</div>
        <div class="product-percentage">5% off</div>
        <div class="product-description">Smart Tv Samsung 43"</div>
      </div>
      <div class="product">
        <img
          src="/images/img-samsung-galaxy-s10.jpg"
          alt="logo mercado liebre"
          width="360"
        />
                <div class="product-price">$70.500</div>
        <div class="product-percentage">10% off</div>
        <div class="product-description">Samsung Galaxy S10</div>
      </div>
    </main>
    <footer>
      <div class="conditions-container">
          <div class="condition">
            <i class="fa fa-credit-card"></i>
            <h5>Pagá con tarjeta o en efectivo</h5>
            <p>
              Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo
              en puntos de pago. ¡Y siempre es seguro!
            </p>
          </div>

          <div class="condition">
            <i class="fas fa-gift"></i>
            <h5>Envio gratis desde $2500.</h5>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
          </div>

          <div class="condition">
            <i class="fa fa-shield-alt"></i>
            <h5>Seguridad de principio a fin</h5>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
                hacer, porque estás siempre protegid@.
            </p>
          </div>
      </div>
                  <div class="condition">
          <h5>● Copyright © 1999-2020 MercadoLiebre S.R.L.</h5> 
    </footer>
  </body>
</html>
